 <div class="row">
    <div class="col-md-12" ng-show="customers.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-customer/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Customer</a>
    </div>
    </nav>

        Search: <input ng-model="searchText">
        <p>
        
        <div class="form-group ">
            Search for: 
            Name<input class="span2" ng-model="searchTextFilter.customerName"> 
            Email<input class="span2" ng-model="searchTextFilter.email">
            Adress<input class="span2" ng-model="searchTextFilter.address">
        </div>
        <table class="table table-striped table-bordered">
        <thead>
        <th> 
           <a ng-click="orderByField='customerName'; reverseSort = !reverseSort">
          First Name <span ng-show="orderByField == 'customerName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
            <a ng-click="orderByField='email'; reverseSort = !reverseSort">
            Email&nbsp; <span ng-show="orderByField == 'email'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
        </th>
        <th>
            <a ng-click="orderByField='address'; reverseSort = !reverseSort">
            Address&nbsp; <span ng-show="orderByField == 'address'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
        </th>
        <th>
            <a ng-click="orderByField='city'; reverseSort = !reverseSort">
            City&nbsp; <span ng-show="orderByField == 'city'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>            
        </th>
        <th>
            <a ng-click="orderByField='country'; reverseSort = !reverseSort">
            Country&nbsp; <span ng-show="orderByField == 'country'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
        </th>
        <th>
            Action&nbsp;
        </th>
        </thead>
        <tbody>
            <tr ng-repeat="data in customers|orderBy:orderByField:reverseSort | filter:searchText | filter:searchTextFilter">
                <td>{{data.customerName}}</td>
                <td>{{data.email}}</td>
                <td>{{data.address}}</td>
                <td>{{data.city}}</td>
                <td>{{data.country}}</td>
                <td>
                    <a href="#/edit-customer/{{data.customerNumber}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Customer</a>
                    <a href="#/edit-customer/{{data.customerNumber}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Delete Customer</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="customers.length == 0">
        <div class="col-md-12">
            <h4>No customers found</h4>
        </div>
    </div>
</div>